body {
    background: url("../images/bg/index.svg") no-repeat center fixed, white;
    background-size: cover;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    height: unset !important;
    padding-top: 5px !important;
    padding-bottom: 15px !important;
}

.navbar-index .navbar-toggle {
    border-color: gray;
}

.navbar-index .navbar-toggle:focus, .navbar-index .navbar-toggle:hover {
    background-color: gray;
}

.navbar-index .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-nav > li > a {
    line-height: 60px;
    padding-bottom: 15px;
    margin-bottom: unset;
}

.navbar-index .navbar-nav > li > a {
    color: gainsboro;
}

.navbar-index .navbar-nav > li > a:focus, .navbar-index .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: unset;
}

.col-center {
    display: flex;
    justify-content: center;
}

.welcome {
    position: relative;
    width: 450px;
    min-width: 360px;
    top: 400px;
    margin-left: 40px;
    font-family: Mitr;
    font-size: 18px;
    color: black;
}

.welcome > span {
    font-family: "Mitr";
    font-size: 60px;
    font-weight: bold;
}

.panel-station {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 669px;
    width: 578px;
    padding: 0 80px;
    background: url("../images/panel/BG.png") no-repeat center;
    background-size: contain;
}

.header {
    font-family: "Bebas Neue";
    font-size: 60px;
    font-weight: bold;
    white-space: nowrap;
}

.option-btn {
    display: inline-flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn {
    font-family: "Bebas Neue";
    font-size: 30px;
    width: 100%;
}

.btn.money {
    color: white;
    background-color: #EDBA3E;
    border-color: #D9A938;
    margin-right: 10px;
}

.btn.money:hover {
    background-color: #E5B338;
    border-color: #D2A237;
}

.btn.money:active {
    background-color: #DDAB3A;
    border-color: #CC9B38;
}

.btn.time {
    color: white;
    background-color: #29AAE3;
    border-color: #29A4DC;
    margin-left: 10px;
}

.btn.time:hover {
    background-color: #29A1DB;
    border-color: #299FD6;
}

.btn.time:active {
    background-color: #299BD5;
    border-color: #2994CB;
}

.option-btn img {
    padding-right: 10px;
    margin-left: -5px;
}

.des-txt {
    font-family: Mitr;
    font-weight: 200;
    text-align: justify;
}

.form-location {
    width: 100%;
    margin-top: 20px;
}

.form-location > label {
    font-family: Mitr;
    font-size: 20px;
    font-weight: normal;
}

.form-location > label:nth-of-type(2) {
    margin-top: 10px;
}

.error-message {
    position: relative;
    bottom: -5px;
    float: right;
    font-family: Mitr;
    color: darkred;
    font-weight: 300;
}

.error-message:nth-of-type(2) {
    bottom: -15px;
}

.form-group {
    margin-bottom: unset !important;
}

.form-control-feedback[hidden] {
    display: none;
}

.btn.cal {
    color: white;
    background-color: #7FB714;
    border-color: #79B114;
    margin-top: 30px;
}

.btn.cal:hover {
    background-color: #77AF14;
    border-color: #72AB14;
}

.btn.cal:active {
    background-color: #6FA814;
    border-color: #649E14;
}

@media (max-width: 768px) {
    body {
        background: #5E5E5E;
    }

    .welcome {
        top: unset;
        text-align: center;
        margin-left: unset;
        margin-bottom: 30px;
        color: white;
    }
}