@font-face {
    font-family: 'Mitr';
    src: url("../fonts/Mitr-ExtraLight.ttf") format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Mitr';
    src: url("../fonts/Mitr-Light.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Mitr';
    src: url("../fonts/Mitr-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Mitr';
    src: url("../fonts/Mitr-Medium.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Mitr';
    src: url("../fonts/Mitr-Bold.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Mitr';
    src: url("../fonts/Mitr-SemiBold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Book.otf") format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Regular.otf") format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Bold.otf") format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "Titillium Web";
    src: url("../fonts/TitilliumWeb-Regular.ttf") format('truetype');
    font-weight: normal;
}

.container-fluid {
    max-width: 1280px;
}

.icon-home {
    height: 60px;
    filter: opacity(80%);
}

.icon-home:hover {
    filter: opacity(100%);
}

.navbar {
    font-family: Mitr;
    font-size: 16px;
    border-radius: unset !important;
    margin-bottom: 0;
}

.navbar-brand {
    height: 70px;
    padding: 5px 15px;
}

.navbar-nav > li > a {
    height: 70px;
    line-height: 60px;
}

.dropdown-menu {
    min-width: unset !important;
}

.dropdown-menu > li > a {
    line-height: 2 !important;
}

.coming-soon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: calc(100vh - 90px);
    text-align: center;
    font-family: Mitr;
    font-size: 27px;
    overflow: hidden;
}

.coming-soon > span {
    font-family: "Titillium Web";
    font-size: 94.5px;
    font-weight: bold;
    letter-spacing: 54px;
    white-space: nowrap;
    margin-right: -54px;
    margin-bottom: unset !important;
}

@media (max-width: 1350px) {
    .coming-soon {
        font-size: 2vw;
    }

    .coming-soon > span {
        font-size: 7vw;
        letter-spacing: 4vw;
        margin-right: -4vw;

    }
}